.custom-dropdown {
  width: 65px; 
  font-size:  20px; 
  font-weight: 500; 
  color: #f44831; 
  border: none; 
  outline: none; 
  -webkit-appearance: none;
  text-align: center; 
  cursor: pointer; 
  position: absolute;
  background: none;  
   
}

.custom-dropdown:focus {
  width: 35px; 
}

.div-dropdown {
  fill: #f44831; 
  position: absolute; 
  top: 50%; 
  right:0; 
  transform: translateY(-50%);
  margin-right: 30px; 
  display: flex; 
  width: 65px; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
}

.div-dropdown > svg:first-child {
  margin-right: auto;  
  margin-left: 5px; 
}