
.container {
  max-width: 1267.2px;; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; 
}

.mealContainer > :first-child {
  width: 301.8px; 
  height: auto;
  border-radius: 8px; 
}

.mealContainer {
  flex: 0 1 295px  

}

.mealTitle {
  font-size: 24px; 
  font-weight: 600; 
  margin: 15px 0; 
  text-align: center; 
}

.mealContainer > .mealTitle {
  font-size: 19px; 
}

.nutritionalValuesContainer {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap; 
} 

.nutritionalValues {
  width: 127.4px; 
  padding: 14px 10px; 
  text-align: center; 
  background-color: #eeeeee; 
  margin: 0 0 7px 0; 
  font-size: 14px
}

.addMeal {
  flex: 1 1 110px; 
  text-align: center; 
  background-color: black; 
  color: white; 
  padding: 7px 10px; 
  font-size: 16px; 
  margin: 5px 0 30px 0px; 
}

@media (max-width: 1351px){
  .container {
    max-width: 1267.2px;; 
    margin: 0 40px;
  }
}


@media (max-width: 1350px){
  .container{
    margin: 0 150px
  }
}

 @media (max-width: 1263px){
  .container{
    margin: 0 auto; 
    max-width: 946px; 
  }
}

@media (max-width: 1043px){
  .container{
    margin: 0 150px; 
    
  }
}

@media (max-width: 941px){
  .container{
    margin: 0 auto; 
    max-width: 624px; 
  }
}

@media (max-width: 680px){
  .container{
    max-width: 301.8px; 
  }
}




