
.container {
  max-width: 1267.2px;; 
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.mealContainer > :nth-child(1) {
  width: 301.8px; 
  height: auto;
  border-radius: 8px; 
  transition: 0.3s ease; 
}

.mealContainer > :nth-child(1):hover {
  filter: brightness(50%);
  cursor: pointer; 
}

.mealContainer {
  flex: 0 1 295px  
}

.showRecipe {
  position: absolute; 
  background-color: black; 
  width: 301.8px;
   
}

.mealTitle {
  font-size: 24px; 
  font-weight: 600; 
  margin: 15px 0; 
  text-align: center; 
}

.mealContainer > .mealTitle {
  font-size: 19px; 
}

.nutritionalValuesContainer {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap; 
} 

.nutritionalValues {
  width: 127.4px; 
  padding: 14px 10px; 
  text-align: center; 
  background-color: #eeeeee; 
  margin: 0 0 7px 0; 
  font-size: 14px
}

.addMeal {
  width: 100%;  
  text-align: center; 
  background-color: black; 
  color: white; 
  padding: 10px 10px; 
  font-size: 16px; 
  margin: 5px 0 30px 0px;
  border: none;
  transition: background-color 0.25s ease;
}

.addMeal:hover{
  background-color: rgb(23, 166, 61);  
  cursor: pointer;  
}

.addMeal:hover {
  
}

.addMealSelection {
  display: flex; 
  justify-content: center; 
  margin: 5px 0 30px 0px;
}

.addMealSelection > button {
  width: 40px; 
  text-align: center; 
  background-color: black; 
  color: white; 
  padding: 10px 10px; 
  font-size: 16px; 
  border: none;
  border-radius: 5px; 
  font-size: 16px; 
  transition: background-color 0.25s ease;
}

.addMealSelection > button:hover{
  background-color: rgb(23, 166, 61);  
  cursor: pointer;  
}

.addMealSelection > input {
  width: 60px; 
  border-radius: 5px; 
  margin: 0px 3px; 
  text-align: center; 
  font-family: 'Rubik', sans-serif;
  font-size: 16px; 
}


@media (max-width: 1351px){
  .container {
    max-width: 1267.2px;; 
    margin: 0 40px;
  }
}


@media (max-width: 1350px){
  .container{
    margin: 0 150px
  }
}

 @media (max-width: 1263px){
  .container{
    margin: 0 auto; 
    max-width: 946px; 
  }
}

@media (max-width: 1043px){
  .container{
    margin: 0 150px; 
    
  }
}

@media (max-width: 941px){
  .container{
    margin: 0 auto; 
    max-width: 624px; 
  }
}

@media (max-width: 680px){
  .container{
    max-width: 301.8px; 
  }
}



