.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 720px; 
  position: relative;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  color: black; 
  background-color: white; 
  width: 70px; 
  margin: 0; 
  padding: 6.5px 0; 
  border-radius: 35px; 

}
