.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 480px; /* Largeur fixe ou ajustable */
  height: 80vh; /* 80% de la hauteur de l'écran */
  position: relative; /* Nécessaire pour positionner l'élément sticky par rapport au modal */
  overflow-y: auto; /* Barre de défilement pour le contenu */
  padding: 0; /* Pas d'espace entre le haut du modal et le contenu */
  box-sizing: border-box; /* S'assurer que le padding ne modifie pas la taille totale */
}

.modal-close {
  position: sticky; /* Le bouton reste visible pendant le défilement */
  top: 20px; /* Positionné au sommet du modal, sans espace */
  margin-left: auto;  /* Centré horizontalement par rapport au modal */
  margin-right: 18px; 
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: black;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Style circulaire */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Assure que le bouton reste au-dessus du contenu */
  margin-top: -50px; 
}

.modal-close:hover {
  background-color: #f44831; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
  transition: background-color 0.75s ease;
}

.modal-content > :nth-child(2) {
  padding: 8px;
  width: calc(100% - 20px); 
  border-radius: 15px; 
}

.text-sections {
  font-size: 16px; 
  text-align: center; 
  margin: 16px; 
}

.div-informations{
  display: flex; 
  justify-content: space-between; 
  padding: 24px 10%; 
  margin-top: 30px; 
  background-color: #c6eaf6;  
}

.informations {
  text-align: center; 
}

.informations-text {
  font-size: 13px;
  margin: 5px 0 0 0; 
}

.div-ingredients-title {
  display: flex; 
  position: relative; 
  justify-content: center; 
}

.title-sections {
  text-align: center; 
  margin-left: auto; 
  margin-right: auto;
  font-size: 20px; 
  font-weight: 500; 
}

.div-ingredients {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  max-width: 414px; 
  margin: auto;
  gap: 15px; 
  padding: 0px 15px; 
   
}

.div-individual-ingredient {
   margin: 0 0 23px 0; 
   display: block; 
   box-sizing: border-box;
}

.div-individual-ingredient > img {
max-width: 78px; 
border: 1px solid #e9e9e9; 
border-radius: 50%; 
text-align: center; 
}

.div-individual-ingredient > p {
  text-align: center; 
  font-size: 13px; 
  width: 80px; 
}


.ustensils {
  border-top: 1px dashed #000000; 
  border-bottom: 1px dashed #000000; 
  margin: 0px 15px; 
}

.step {
  display: flex; 
  align-item: center; 
  margin-bottom: 15px; 
}

.ingredients-list {
  min-width: 38px; 
  display: flex; 
  flex-direction: column; 

  padding-top: 15px; 
}

.ingredients-list > img {
  width: 38px; 
  border: 1px solid #e9e9e9;
  border-radius: 50%; 
  margin-top: -15px;  
}

.step-number {
  margin: 0;
  color: #6F6F6F; 
  font-size: 13px; 
  font-weight: 400; 
}

.step > div:nth-child(2) {
  margin: 0 0 0 16px; 
}

.step > div:nth-child(2) > .text-sections {
  text-align: left; 
  margin: 0
}