@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300 400 500 600 700 900;
  src: url('../assets/fonts/rubik.woff2') format('woff2'); 
  font-display: swap;
}

.selectionList {
  display: flex;
  justify-content: space-between;
  max-width: 1267.2px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  gap: 20px; 
}



.selectionButtons {
  color: black;
  background-color: white;
  padding: 32px 0px;
  border: 3px solid black;
  flex-grow: 1; /* Permet aux éléments de s'étirer et remplir l'espace disponible */
  max-width: calc(33.33% - 30px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  min-width: 160px;
  flex: 1;
  font-family: 'Rubik'; 
}

.selectionButtons.active{
  border: 3px solid #17a63d;
}

.separationLine {
  background-color: #3e3e3e;
  max-width: 1267.2px; 
  margin: 40px auto; 
  height: 10px;
  border-radius: 4px;
}

@media (max-width: 1351px){
  .selectionList{
    margin: 26px 40px 40px; 
  }
}
